<template>
  <div>
    <h1>Create Ledger</h1>
    <div class="selector-inner" v-if="!state.listHasAName">
      <label for="partaker">Ledge's Name</label><br />
      <input
        type="text"
        v-model="state.ledgerName"
        placeholder="Give your ledger a name"
      />
      <button @click="addListName">Add Name</button>
    </div>
    <div v-else>
      <form class="setup-list" @submit.prevent="addPartaker">
        <div class="selector-inner">
          <h3>Enter Partakers (The list must have at least three members)</h3>
          <label for="partaker">Partaker</label>
          <input
            type="text"
            v-model="state.partakerName"
            placeholder="Enter a name or nickname"
          />
          <input type="submit" value="add" />
        </div>
      </form>
    </div>
    <h3>{{ state.ledgerName }}</h3>
    <div
      class="partakers"
      v-for="partaker of state.partakerList"
      :key="partaker"
    >
      <p>{{ partaker }}</p>
      
    </div>
    <button v-if="state.partakerList.length>=3" @click="createLedger">Create Ledger</button>
  </div>
</template>

<script>
import { reactive, onBeforeMount, ref } from "vue"
import database from "../database"
import router from "../router"
import { useStore } from 'vuex'
export default {
  setup() {
    onBeforeMount(() => {
      console.log( store.state.User.user)
     
    })
    const store = useStore()
    const state = reactive({
      listHasAName: false,
      ledgerName: "",
      partakerName: "",
      partakerList: [],
    });
    const addPartaker = () => {
      state.partakerList.push(state.partakerName);
      state.partakerName = ""
      console.log(store.state.User.user)
    };
    const createLedger = () => {
      const ledgerRef = database.database().ref("ledgers")

      const ledger = {
        user: store.state.User.user,
        partakers:state.partakerList,
        name: state.ledgerName,
        
      };
      
      ledgerRef.push(ledger);
      router.push({ path: "/temporal" });
    };

    const addListName = () => {
      state.listHasAName = true;
    };

    return {
      state,
      addPartaker,
      createLedger,
      addListName,
    }
  },
}
</script>

<style>
.partakers{
  background-color:purple;
  display:flex;
  flex-wrap: wrap;
  gap:0.5rem;
}
p{
  flex-basis: 25%;
}
</style>