<template>
  <div>
    <p>Welcome, {{ name }}</p>
    <div>
      <router-link class="home-login_link" :to="{ path: '/create' }">
        <button @click="sendNameInfo">Create New Ledger</button>
      </router-link>

      <button>Open Existing Ledger</button>
    </div>
  </div>
</template>


<script>
import { ref, onBeforeMount } from "vue"
import database from "../database"
import { useStore } from 'vuex'
export default {
  setup() {
    const store = useStore()
    const name = ref("")
    onBeforeMount(() => {
      const user = database.auth().currentUser
      if (user) {
        name.value = user.email.split("@")[0]
       store.state.User.user = name.value
       console.log( store.state.User.user)
     }
    })

    const sendNameInfo = ()=>{

    }
    return {
      name,
      sendNameInfo
    }
  }
}
</script>

<style>
</style>