<template>
<div class="login">
    <h1>login</h1>
    <form @submit.prevent="login">
        <input type="text" placeholder="email" v-model="email">
        <input type="password" placeholder = "Password" v-model="password">
        <input type="submit" value="login">
        <p>Still no registered?  <router-link to= "/register">Do it here!</router-link></p>
    </form>
</div>

</template>

<script>
import {ref} from 'vue'
import database from '../database'
export default {
    setup(){
        const email = ref('')
        const password = ref('')

        const login = ()=> {
            database
                .auth()
                .signInWithEmailAndPassword(email.value, password.value)
                .then(data => console.log(data))
                .catch(err =>alert(err.message))
        } 
        return{
            login,
            email,
            password
        }
    }
}
</script>

<style>

</style>