<template>
  <div>
      <form @sumbit.prevent="login" class="login-form" >
        <div class="form-inner">
          <h1>Login to Leisure Ledger</h1>
          <label for="username">e-mail</label>
          <input
            type="text"
            v-model='email'
            placeholder="Please enter your email"
          /> 
        
          <br>
           <label for="username">Password</label> 
          <input
            type="password"
            v-model="password"
            placeholder="Your password here"
          />
        
        </div>
        
        <button @click="login">fakeLogin</button>
  
      </form>
    <div class="register-link">
       <router-link class="home-login_link"  :to="{ path: '/register' }"> 
        <p>Still not registered? Don't worry it's very easy</p >
      </router-link>
      </div>

       <router-view />
  </div>
</template>

<script>
import {ref} from 'vue'
//import firebase from 'firebase'
import database from '../database'

export default{
  setup(){
    const email = ref('')
    const password = ref('')

    const login = () =>{
      database //firebase
        .auth()
        .signInWithEmailAndPassword(email.value, password.value)//hay muchas opciones, la nuestra es la de email y password que toma a estos dos como parámetros.
        .then(data=>console.log(data))
        .catch(err =>alert(err.message))
    }
    return{
      login,
      email,
      password
    }
  }
}

</script>

<style>
.register-link{
    font-size:calc(1rem + 1vw)
}
</style>
