<template>
  <div>
      <h1>Esa peña ahí registrándose!</h1>
       <form @sumbit.prevent="register" class="register-form" >
        <div class="form-inner">
          <h1>Register to Leisure Ledger</h1>
          <label for="username">e-mail</label>
          <input
            type="text"
            v-model='email'
            placeholder="Please enter your email"
          /> 
        
          <br>
           <label for="username">Password</label> 
          <input
            type="password"
            v-model="password"
            placeholder="Your password here"
          />
          <input @click="register" type="submit" value="Register">

         
        </div>
       </form>
  </div>
</template>

<script>
//import firebase from 'firebase'
import database from '../database'
import {ref} from 'vue'


export default {
  setup(){
   
    const email = ref('')
    const password = ref('')

    const register = () =>{
      console.log('pepe')
     database
        .auth()
        .createUserWithEmailAndPassword(email.value, password.value)
        .then(user =>{
          alert(user)
        })
        .catch(err=>alert(err.message))
        alert('You have successfully registered')
    }
    return{
      register,
      email,
      password
    }
  }
}
</script>

<style>

</style>