<template>
<div>
  <h1>El nombre de La lista</h1>
  <Ledger/>
  </div>
</template>

<script>
import Ledger from '../components/Ledger'
export default {
components: {
  Ledger,
}
}
</script>

<style>

</style>