<template>
  <div>
    <div
      class="partakersList"
      v-for="partaker of state.partakersList"
      :key="partaker"
    >
      <h3>{{ partaker }} (Hardcoded)</h3>
    </div>
    <button
      @click="wantToIntroduceExpense"
      v-if="state.wantToAddExpense === false"
    >
      Add New Expense
    </button>
    <div v-if="state.wantToAddExpense">
      <label for="quantity">Quantity</label>
      <input type="number" />
      <label for="concept">Concept</label>
      <input type="text" />
      <label for="sharing">Who shares this expense?</label>
     
        <div v-for="partaker of state.partakersList" :key="partaker">
          <input id="name" type="checkbox" />
          <label for="name">{{partaker}}</label>
        </div>
      
      <button>Add</button>
    </div>

    
  </div>
</template>

<script>
import { reactive, computed, created } from "vue";
//v-for="partaker of state.partakersList" :key="partaker"
export default {
  name: "Ledger",
  setup() {
    const state = reactive({
      partakersList: ["Manolo", "Usebio", "Ramón", "Antonia", "Pepe"],
      wantToAddExpense: false,
    });

    const wantToIntroduceExpense = () => {
      state.wantToAddExpense = true;
    };

    return {
      state,
      wantToIntroduceExpense,
    };
  },
};
</script>

<style>
</style>