<template class="container">
  <div id="app">
    <div class="logo-box">
    <div class="logo">
      <img class="logo-pig" src="./assets/ldlogo.png" />
      <h1>Leisure Ledger {{user}}</h1>
    </div>
</div>
    <nav>
      <router-link to="/">
        <h4>Esa peña ahí en el main page!</h4>
      </router-link>
    </nav>
    <router-view />
  
  </div>
</template>

<script>

 import {onBeforeMount} from 'vue'
 import{useRouter, useRoute} from 'vue-router'

 import database from './database'
export default {
 
  setup(){
    const router = useRouter()
    const route = useRoute()

    onBeforeMount(()=>{
      database.auth().onAuthStateChanged((user) =>{
        console.log(user)//  onAuthStateChanged checkea si un usuario hace login o logout
          if(!user){ //si no estamos logueados
              router.replace('/login') // volvemos a Home  
          } else if (route.path =="/login" || route.path == "/register"){
            router.replace('/')
          }// aquí decimos, si el path es login o register, y tenemos un usuario, lo enviamos a home directamente
      })
    })
    return 
  }
};
</script>

<style>
#app{
  padding:0 1rem;
  height:100%;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(224, 224, 133);
 
}

.logo {
  display: flex;
}
.logo-box{
  position:absolute;
  top:0;
  left:0;
  margin-block-start:1rem;
}

img{
  width:100%;
  height:auto;
}

.logo-pig {

  width: 5rem;
  height:auto;
  margin-left: 15%;
}
</style>
